header {
    background-color: black;
    color: white;
    font-family: "Lalezar";
    height: 100px;
}

.logOMS{
    width: 200px;
}

.divheader{
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
}

.divheader h1{
    text-align: center;
}